@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NeueMachina-Regular.otf');
}

@keyframes grow {
    to {
        transform: scale(1.5);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #000;
    position: relative;
}

body::before, body::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    position: fixed;
    width: 400px;
    height: 400px;
    background-image: url("../images/gradient1.svg");
    background-size: contain;
}

body::before {
    top: 0;
    left: 0;
}

body::after {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

h1, p, a, li{
    color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.loaders {
    display: flex;
    flex-direction: row !important;
}

.loaders span:nth-child(1) {
     animation: grow .8s infinite alternate;
}

.loaders span:nth-child(2) {
    animation: grow .8s .3s infinite alternate;
}

.loaders span:nth-child(3) {
    animation: grow .8s .6s infinite alternate;
}

.loader {
    background-color: #fff;
    padding: 2px;
    border-radius: 50%;
    margin: 2px;
}

@media screen and (min-width: 768px) {
    body::before, body::after {
        width: 600px;
        height: 600px;
    }
}