
.main-container {
    margin: 2rem 1rem;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 15px;
    position: relative;
    max-width: 736px;
    z-index: 1;
}

.main-container::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/tresbolinhas.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 2rem 2rem 0;
}

.header-container figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.header-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-content h1 {
    font-family: "Neue Machina", cursive;
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 160px;
}

.header-content ul {
    list-style: none;
    font-weight: 400;
    font-size: .8rem;
}

.header-content ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.header-content ul li::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-content ul .role::before {
    background-image: url("../images/header-list-icons/role.svg");
}

.header-content ul .location::before {
    background-image: url("../images/header-list-icons/location.svg");
}

.header-content ul .contact::before {
    background-image: url("../images/header-list-icons/contact.svg");
}

.header-content ul .mail::before {
    background-image: url("../images/header-list-icons/mail.svg");
}

.acordeon {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1.5rem;
}

.acordeon > button {
    display: flex;
    width: 100%;
    background: none;
    border: none;
    padding: 15px 30px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}

.acordeon:hover{
    background-color: rgba(40, 40, 40, 0.7);
    border-color: rgba(40, 40, 40, 0.7);
    transition: .25s ease-in-out;
}

.acordeon > button span::after {
    content: "";
    display: inline;
    width: 20px;
    height: 20px;
    background-image: url("../images/arrow-up.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.acordeon.open > button span::after {
    transform: rotate(180deg) translateY(50%);
}

.acordeon.open{
    background-color: rgba(40, 40, 40, 0.7);
    border-color: rgba(40, 40, 40, 0.7);
    padding-bottom: 1rem;
}

.acordeon div {
    display: none;
}

.acordeon.open div {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    text-align: center;
}

.acordeon .skills-container, .acordeon .hobby-container {
    color: white;
    gap: 20px;
}

.acordeon .skills-container h3, .acordeon .hobby-container h3 {
    font-size: 1rem;
}

.acordeon .skills-container ul, .acordeon .hobby-container ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.acordeon .skills-container img {
    width: 50px;
    height: 50px;
}

.acordeon .hobby-container ul li{
    padding: 10px;
    width: 100%;
    background-color: rgb(128, 128, 128);
    border-radius: 30px;
    font-size: .8rem;
}

.acordeon .languages-container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: start;
    gap: 20px;
}

.acordeon .languages-container ul li::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background-image: url("../images/correct.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.acordeon .education-container div, .acordeon .portfolio-container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 8px;
    padding: 0;
    margin-bottom: 20px;
    color: white;
}

.acordeon .education-container .linked {
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.acordeon .education-container .linked:hover {
    background-color: rgba(40, 40, 40, 0.9);
    transition: .25s ease-in-out;
}

.acordeon .education-container .linked a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.acordeon .education-container .linked::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/arrow-up-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.acordeon .education-container div h3, .acordeon .portfolio-container div h3{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}

.acordeon .education-container div h3 {
    max-width: 480px;
}

.acordeon .education-container div p, .acordeon .portfolio-container div a{
    font-size: .8rem;
    overflow-wrap: anywhere
}

.acordeon .portfolio-container div h3::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.acordeon .portfolio-container div .github::before {
    background-image: url("../images/github.svg");
}

@media screen and (min-width: 768px) {
    .header-container {
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }

    .main-container {
        margin: 2rem auto;
    }

    .acordeon section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .acordeon .hobby-container ul li {
        max-width: max-content;
    }

    .acordeon .languages-container ul {
        flex-direction: row;
        gap: 40px;
    }
}